/* Ionic */
@use '@ionic/angular/css/core.css';
@use '@ionic/angular/css/normalize.css';
@use '@ionic/angular/css/structure.css';
@use '@ionic/angular/css/typography.css';
@use '@ionic/angular/css/display.css';
@use '@ionic/angular/css/padding.css';
@use '@ionic/angular/css/float-elements.css';
@use '@ionic/angular/css/text-alignment.css';
@use '@ionic/angular/css/text-transformation.css';
@use '@ionic/angular/css/flex-utils.css';

/* Daruix Design System */
@use '@daruix/hub-ui/styles' as drx;

/* Estilos do Shell */
@use 'assets/styles/styles' as shell;
@use 'assets/styles/base/variables' as variables;
@use 'assets/styles/base/mixins' as mixins;

.grid-container > router-outlet {
  display: none;
}

.grid-container > router-outlet + * {
  width: 100%;
  min-width: 0;
  grid-column: 1 / -1;
}
